<div class="mx-auto md:w-2/3 w-full">
  <h1 class="heading-page">Sign up</h1>

  <%= form_with model: @user, url: registration_path, class: "contents" do |form| %>
    <div class="my-5">
      <%= form.email_field :email_address, required: true, autofocus: true, autocomplete: "email", placeholder: "Enter your email address", class: "form-input" %>
    </div>

    <div class="my-5">
      <%= form.text_field :username, required: true, autocomplete: "username", placeholder: "Choose a username (3-20 chars: letters, digits, _ or -)", class: "form-input" %>
    </div>

    <div class="my-5">
      <%= form.password_field :password, required: true, autocomplete: "new-password", placeholder: "Choose a password (min 8 chars)", maxlength: 72, class: "form-input" %>
    </div>

    <div class="my-5">
      <%= form.password_field :password_confirmation, required: true, autocomplete: "new-password", placeholder: "Confirm password", maxlength: 72, class: "form-input" %>
    </div>

    <div class="inline">
      <%= form.submit "Sign up", class: "btn-primary w-full sm:w-auto" %>
    </div>
  <% end %>

  <p class="mt-6 text-sm text-gray-600">
    Already have an account?
    <%= link_to "Sign in", new_session_path, class: "text-blue-600 underline hover:no-underline" %>
  </p>
</div>
