<%= form_with(model: guess, class: "contents") do |form| %>
  <%= render "shared/form_errors", record: guess %>

  <div class="my-5">
    <%= form.label :game_id %>
    <%= form.text_field :game_id, class: field_class(guess, :game_id) %>
  </div>

  <div class="my-5">
    <%= form.label :image_id %>
    <%= form.text_field :image_id, class: field_class(guess, :image_id) %>
  </div>

  <div class="my-5">
    <%= form.label :latitude %>
    <%= form.text_field :latitude, class: field_class(guess, :latitude) %>
  </div>

  <div class="my-5">
    <%= form.label :longitude %>
    <%= form.text_field :longitude, class: field_class(guess, :longitude) %>
  </div>

  <div class="inline">
    <%= form.submit class: "btn-primary w-full sm:w-auto" %>
  </div>
<% end %>
