<%= form_with(model: game, class: "contents") do |form| %>
  <%= render "shared/form_errors", record: game %>

  <div class="my-5">
    <%= form.label :status %>
    <%= form.text_field :status, class: field_class(game, :status) %>
  </div>

  <div class="my-5">
    <%= form.label :score %>
    <%= form.number_field :score, class: field_class(game, :score) %>
  </div>

  <div class="my-5">
    <%= form.label :completed_at %>
    <%= form.datetime_field :completed_at, class: field_class(game, :completed_at) %>
  </div>

  <div class="inline">
    <%= form.submit class: "btn-primary w-full sm:w-auto" %>
  </div>
<% end %>
