<%= form_with(model: image, class: "contents") do |form| %>
  <%= render "shared/form_errors", record: image %>

  <div class="my-5">
    <%= form.label :url %>
    <%= form.text_field :url, class: field_class(image, :url) %>
  </div>

  <div class="my-5">
    <%= form.label :latitude %>
    <%= form.text_field :latitude, class: field_class(image, :latitude) %>
  </div>

  <div class="my-5">
    <%= form.label :longitude %>
    <%= form.text_field :longitude, class: field_class(image, :longitude) %>
  </div>

  <div class="my-5">
    <%= form.label :title %>
    <%= form.text_field :title, class: field_class(image, :title) %>
  </div>

  <div class="inline">
    <%= form.submit class: "btn-primary w-full sm:w-auto" %>
  </div>
<% end %>
