<div id="<%= dom_id image %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Url:</strong>
    <%= image.url %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Latitude:</strong>
    <%= image.latitude %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Longitude:</strong>
    <%= image.longitude %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Title:</strong>
    <%= image.title %>
  </div>
</div>
