<% content_for :title, "Images" %>

<div class="w-full">
  <div class="flex justify-between items-center">
    <h1 class="heading-page">Images</h1>
    <div class="flex space-x-2">
      <%= link_to "Map view", map_images_path, class: "btn-secondary", data: { turbo: false } %>
      <% if admin? %>
        <%= link_to "New image", new_image_path, class: "btn-primary" %>
      <% end %>
    </div>
  </div>

  <div id="images" class="min-w-full divide-y divide-gray-200 space-y-5">
    <% if @images.any? %>
      <% @images.each do |image| %>
        <div class="flex flex-col sm:flex-row justify-between items-center pb-5 sm:pb-0">
          <%= render image %>
          <div class="w-full sm:w-auto flex flex-col sm:flex-row space-x-2 space-y-2">
            <%= link_to "Show", image, class: "btn-secondary w-full sm:w-auto" %>
            <% if admin? %>
              <%= link_to "Edit", edit_image_path(image), class: "btn-secondary w-full sm:w-auto" %>
              <%= button_to "Destroy", image, method: :delete, class: "btn-danger w-full sm:w-auto", data: { turbo_confirm: "Are you sure?" } %>
            <% end %>
          </div>
        </div>
      <% end %>
    <% else %>
      <p class="text-center my-10">No images found.</p>
    <% end %>
  </div>
</div>
